/* ===========================
   DIÁLOGOS
=========================== */


.caixa-dialogo {


    margin-top:30px;


    padding:25px;


    border-radius:25px;


    background:

        rgba(0,0,0,0.25);


}



.icone-dialogo {


    font-size:35px;


}



#textoDialogo {


    min-height:70px;


    font-size:18px;


    line-height:1.7;


}





