/* Tela da introdução */
#introducao{

    opacity:0;
    transform:translateY(30px) scale(.96);

    transition:
        opacity .7s ease,
        transform .7s ease;

    position: fixed;
    inset: 0;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;

    background:rgba(15,8,35,.75);
    backdrop-filter:blur(4px);

    z-index:999;

    pointer-events:none;
}

#introducao.ativo{

    opacity:1;
    transform:translateY(0) scale(1);

    pointer-events:auto;
 
}

#introducao.saindo{

    opacity:0;
    transform:scale(.95);

}

/* Caixa da introdução */
#introducao .janela-dialogo{
    width: 100%;
    max-width: 750px;

    background: rgba(28, 17, 60, 0);

    border: 2px solid #7b5cff;
    border-radius: 20px;

    box-shadow: 0 0 30px rgba(123,92,255,.35);

    padding: 40px;
    text-align: center;
}

#introducao h2{
    color:#fff;
    font-size:2rem;
    margin-bottom:25px;
}

#introducao p{
    color:#ddd;
    font-size:1.1rem;
    line-height:1.8;
    margin-bottom:18px;
}

#introducao h3{
    color:#6cff7d;
    margin:30px 0;
    font-size:1.5rem;
}

#introducao .botao-principal{
    margin-top:15px;
}

