/* Tela da introdução */
#introducao{

    opacity:0;
    transform:translateY(30px) scale(.96);

    transition:
        opacity .7s ease,
        transform .7s ease;

    position: fixed;
    inset: 0;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;

    background: var(--hud-bg);
    backdrop-filter:blur(4px);

    z-index:999;

    pointer-events:none;
}

#introducao.ativo{

    opacity:1;
    transform:translateY(0) scale(1);

    pointer-events:auto;
 
}

#introducao.saindo{

    opacity:0;
    transform:scale(.95);

}

/* Caixa da introdução */
#introducao .janela-dialogo{
    width: 100%;
    max-width: 750px;

    background: var(--card-bg);

    border: 2px solid var(--card-border);
    border-radius: 20px;

    box-shadow: 0 0 30px var(--card-shadow);

    padding: 40px;
    text-align: center;
}

#introducao h2{
    color: var(--texto-destaque);
    font-size:2rem;
    margin-bottom:25px;
}

#introducao p{
    color: var(--texto-secundario);
    font-size:1.1rem;
    line-height:1.8;
    margin-bottom:18px;
}

#introducao h3{
    color: var(--btn-principal-grad-1);
    margin:30px 0;
    font-size:1.5rem;
}

#introducao .botao-principal{
    margin-top:15px;
}

